h1 {
    font-family: 'Roboto Slab', serif;
 color:purple;
 font-size:80px;
 text-decoration: underline;
    font-weight: 800;
}

p {
 color:blue;
 font-size:24px;
}

body{
    background-image: url(http://xn--80aqafcrtq.cc/img/1/6/9/1692.jpg);    margin:0;
}

header{
    
    background-color:#6a0b90;
    padding-top: 10px;
    padding-bottom: 10px;
}
header a{
color:white;
}
header li { 

   font-family: fantasy;
    list-style:georgian;
    display: inline-block;
    margin-left: 25px;
    margin-right: 25px;
    text-align: center;
    width:24%
        
   }